:root {
  --base-color: rgb(98, 0, 238);
  --base-text-color: #fff;
  --transparent: rgba(0, 0, 0, 0);
  --second-color: #018786;
  --second-text-color: rgba(0,0,0,.54);
}

body {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root-node input,
#root-node select {
  display: block;
  margin: 16px 16px;
}

input.apple-switch {
  position: relative;
  appearance: none; 
  -webkit-appearance: none; 
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff; 
  border: 1px solid #D9DADC;
  border-radius: 50px; 
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input.apple-switch:after {
  content: ""; 
  position: absolute;
  top: 1px; left: 1px;
  width: 26px; height: 26px;
  background-color: transparent;
  border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
  border-color: #4ED164;
  box-shadow: inset 20px 0 0 0 #4ED164;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

input.icheck {
	box-sizing: border-box;
  position: relative;
  appearance: none; 
  -webkit-appearance: none;
  outline: none;
  height: 20px;
  width: 20px;
  border: solid 2px lightgray; 
  border-radius: 2px;
	margin: 0 0.5rem;
}

input.icheck:after {
	content: ' ';
	box-sizing: border-box;
	position: absolute;
  display: block;
  top: -2px;
  left: 3px;
  width: 10px;
  height: 15px;
  border: solid var(--transparent);
  border-radius: 2px;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input.icheck:hover {
  border-color: green;
}

input.icheck:checked {
  background-color: green;
  border-color: green;
}

input.icheck:checked:after {
	border-color: var(--base-text-color);
}

div.iselect-wrapper {
  margin-left: 2rem;
  display: inline-block;
  position: relative;
  width: 15rem;
}

div.iselect-wrapper:after {
  content: ' ';
  position: absolute;
  display: inline-block;
  top: .5rem;
  right: 5px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid grey;
}

select.iselect {
  font-family: Roboto, sans-serif;
  margin: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 0;
  background-image: linear-gradient(to bottom, var(--base-color),var(--base-color));
	background-size: 0 2px;
	background-position: 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), border-color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background-repeat: no-repeat;
  position: relative;
  display: inline-flex !important;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 5px 0;
  text-align: left;
  width: 100%;
}

.iselect + label{
  user-select: none;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87); 
  position: absolute;
  bottom: 0.2rem;
  transition: all 0.3s;
  pointer-events: none;
}

select.iselect:hover {
  border-bottom-color: rgba(0, 0, 0, 0.89);
}

.iselect:focus + label,
.iselect:valid + label {
  transform: translateY(-100%) scale(.9);
  color: var(--base-color);
}

select.iselect:focus{
  border-bottom-color: transparent;
  background-size: 100% 2px;
	outline: none;
}

input.radio {
  position: relative;
  appearance: none; 
  -webkit-appearance: none; 
  outline: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff; 
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.87);
  transition-duration: 200ms;
  transition-property: border-color;
}

input.radio:checked {
  border-color: #018786;
}

input.radio::after {
  position: absolute;
  content: ''; 
  color: rgba(0, 0, 0, 0.54);
  left: 3px;
  top: 3px;
  transition-duration: 0.12s;
  transition-property: transform, border-color;
}

input.radio:checked::after{
  border: 5px solid #018786;
  border-radius: 50%;
}
button {
  appearance: none;
  -webkit-appearance: none; 
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
.material-button {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  will-change: transform,opacity;
  padding: 0 8px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  color: var(--base-color);
  background-color: var(--transparent);
  margin: 16px 32px;
  padding: 0 8px;
}

.material-button:hover {
  cursor: pointer;
}

.material-button:active {
  outline: none;
}

.material-button:after, .material-button:before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.material-button:before {
  transition: opacity 15ms linear;
  z-index: 1;
  background-color: var(--base-color, #6200ee);
  transform: scale(1);
}

.material-button:hover:before {
  opacity: .04;
}

.button-outlined {
  border-style: solid;
  padding: 0 14px;
  border-width: 2px;
  line-height: 32px;
}

.button-colored {
  color: var(--base-text-color,#fff);
  background-color: var(--base-color);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
  padding: 0 16px;
}
.button-colored:hover {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.button-colored:hover:before {
  opacity: .08;
}

.fab-button {
  background-color: var(--second-color);
  border: none;
  border-radius: 50%;
  color: var(--base-text-color);
  font-size: 24px;
  fill: currentColor;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 56px;
  min-width: 56px;

  height: 56px;
  padding: 0;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1),opacity 15ms linear 30ms,transform .27s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .27s cubic-bezier(0,0,.2,1) 0ms;
}

.fab-button:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
/* Need wrapper */
input.material-input,
textarea.material-input {
  font-family: Roboto, sans-serif;
  margin: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 0;
  position: relative;
  display: inline-block !important;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 5px 0;
  margin: 8px 16px;
  background: transparent;
  text-align: left;
  width: 100%;
  overflow-y: auto;
	background-image: linear-gradient(to bottom, var(--base-color),var(--base-color));
	background-size: 0 2px;
	background-position: 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), border-color 0.3s linear;
  background-repeat: no-repeat;
}

textarea.material-input {
  border-top: solid 1px rgba(0, 0, 0, 0.42) !important;
  border-left: solid 1px rgba(0, 0, 0, 0.42) !important;
  border-right: solid 1px rgba(0, 0, 0, 0.42) !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.42) !important;
  border-radius: 5px;
  padding: 1rem;
}

input.material-input::placeholder,
textarea.material-input::placeholder {
  color: transparent;
}

input.material-input + label,
textarea.material-input + label {
  color: rgba(0,0,0,.42);
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  display: block;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

textarea.material-input + label {
  margin-top: 0;
  padding: 1rem;
}

input.material-input:hover,
textarea.material-input:hover {
  border-bottom-color: rgba(0,0,0,.89);
}

input.material-input:focus,
textarea.material-input:focus {
  border-bottom-color: transparent;
  background-size: 100% 2px;
	outline: none;
}

input.material-input:focus + label,
input.material-input:valid + label {
  color: var(--base-color);
  font-size: 0.75rem;
  transform: translate(0,-110%);
}

textarea.material-input:focus + label,
textarea.material-input:valid + label {
  color: var(--base-color);
  font-size: 0.75rem;
  transform: translate(0,-.75rem);
}

textarea.material-input:focus {
  border-top: solid 1px var(--base-color) !important;
  border-left: solid 1px var(--base-color) !important;
  border-right: solid 1px var(--base-color) !important;
  border-bottom: solid 1px var(--base-color) !important;
}

aside.material-dialog,
div.material-dialog__backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

aside.material-dialog div.material-dialog__surface {
    -webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background-color: #fff;
    background-color: var(--mdc-theme-background,#fff);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 30px);
    min-width: 640px;
    max-width: 865px;
    -webkit-transform: translateY(150px) scale(.8);
    -ms-transform: translateY(150px) scale(.8);
    transform: translateY(150px) scale(.8);
    border-radius: 2px;
    opacity: 0;
}

aside.material-dialog div.material-dialog--open.material-dialog__surface {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

aside.material-dialog div.material-dialog__surface.material-dialog--open ~ .material-dialog__backdrop {
  opacity: .3;
}

aside.material-dialog div.material-dialog__backdrop {
  background-color: rgba(0,0,0,.87);
  background-color: var(--mdc-theme-text-primary-on-light,rgba(0,0,0,.87));
  opacity: 0;
  z-index: -1;
}

aside.material-dialog div.material-dialog__surface .material-dialog__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 24px 0;
}

aside.material-dialog div.material-dialog__surface .material-dialog__header .material-dialog__header__title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  -ms-flex: 1 1;
  flex: 1 1;
  margin: 0;
}

aside.material-dialog div.material-dialog__surface .material-dialog__body {
  color: var(--second-text-color,rgba(0,0,0,.54));
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  margin-top: 20px;
  padding: 0 24px 24px;
}

aside.material-dialog div.material-dialog__surface .material-dialog__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 8px;
}

aside.material-dialog div.material-dialog__surface .material-dialog__footer button.material-button.material-dialog__footer__button {
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  aside.material-dialog div.material-dialog__surface {
    min-width: 320px;
    max-width: 420px;
  }  
}